@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

body {
  font-family: 'Lato', sans-serif;
  max-width: 1440px;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
}

.header-box {
  display: flex;
}
